@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  background-color: #D5E1EF;
}

img {
  max-width: 100%;
}

/* General */

.qr-image {
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

/* Typography */

h1, p {
  margin: 0;
}

h1 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
  color: #1F314F;
}


p {
  font-size: 0.93rem;
  padding: 0 16px;
  margin-bottom: 1.5rem;
  color: #7D889E;
}

/* Layout */

.card-container {
  max-width: 320px;
  width: 90%;
  margin: 5.3rem auto 0;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

.attribution {
  margin: 10rem 0 1rem;
}

@media (min-width: 480px) {

  .card-container {
    margin-top: 9.5rem;
  }

}